<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->




<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="./assets/icons/home.svg" >
      <!-- <i class="fi fi-rr-house-window before fs-20"></i>
      <i class="fi fi-sr-house-window after fs-20"></i> -->
      <span >Home</span>
    </ion-tab-button>
    <ion-tab-button tab="">
      <i class="fi fi-rr-category before fs-20"></i>
      <i class="fi fi-sr-category after fs-20"></i>
      <span >Apps</span>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <i class="fi fi-rr-comment before fs-20"></i>
      <i class="fi fi-sr-comment after fs-20"></i>
      <span >Chats</span>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <i class="fi fi-rr-radio-alt before fs-20"></i>
      <i class="fi fi-sr-radio-alt after fs-20"></i>
      <span >News</span>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <i class="fi fi-rs-user before fs-20"></i>
      <i class="fi fi-ss-user after fs-20"></i>
      <span >Account</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>