<ion-tabs>
  <ion-tab-bar slot="bottom" [color]="color">
    <ion-tab-button tab="home">
      <i class="fi fi-rr-house-chimney before"></i>
      <i class="fi fi-sr-house-chimney after"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <i class="fi fi-rr-comment-quote before"></i>
      <i class="fi fi-sr-comment-quote after"></i>
      <ion-badge color="primary">4</ion-badge>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="action">
      <i class="fi fi-rr-plus-hexagon before"></i>
      <i class="fi fi-rr-plus-hexagon after "></i>
      <ion-label>Action</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <i class="fi fi-rr-radio-alt before"></i>
      <i class="fi fi-sr-radio-alt after"></i>
      <ion-badge color="primary">1</ion-badge>
      <ion-label>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <i class="fi fi-rr-circle-user before"></i>
      <i class="fi fi-sr-circle-user after"></i>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>