:host {
    
    .scroll-item {
        &.matched {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
            top: 0px !important;
        }
        margin-right:15px !important;
        // width: 50px !important;
        ion-label {
            h2 {
                overflow-wrap: break-word !important;
                word-wrap: break-word !important;
            }
        }
        // ion-avatar {
        //     width: 50px !important;
        //     height: 60px !important;
        // }
    }
}