:host {
    ion-badge {
        margin-top: -2px !important;
        margin-bottom: -3px !important
    }
    ion-text {
        font-weight: 500 !important;
    }
    .metadata-end-wrapper {
        ion-note {
            position: relative !important;
            top: 0px !important
        }
    }
    ion-avatar {
        margin-right: 10px !important;
    }
}