
<ng-container>
  <ion-item-sliding mode="ios">
    <ion-item-options side="start">
      <ion-item-option (click)="chatEvent.emit('archive')" color="success">Archive</ion-item-option>
    </ion-item-options>
    <ion-item color="white" lines="none" routerDirection="forward" [routerLink]="[id]" button="false" detail="false">
    <!-- <ion-item lines="none" (click)="chatEvent.emit('chat')" button="false" detail="false"> -->
      <ion-avatar slot="start" class="avatar-sm">
        <!-- `https://api.adorable.io/avatars/200'/'+chat.email -->
        <ion-img [src]="'assets/img/avatars/'+id+'.jpg'"></ion-img>
        <!-- <ion-img [src]="'https://ui-avatars.com/api/?background=random&color=random&bold=true&format=svg&name='+chat.fullname || chat?.username"></ion-img> -->
        <!-- <ion-img [src]="'https://robohash.org/'+chat?.email+'?set=set3&size=200x200&gravatar=,yes'"></ion-img> -->
      </ion-avatar>
      <ion-label>
        <ion-text class="fs-14">{{ chat?.fullname || 'not set' | titlecase }}</ion-text><br />
        <ion-note color="medium" class="fs-12">{{ chat?.current_country | titlecase }}</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end" [align]="'right'">
        <ion-note color="medium" class="fs-12">{{ chat?.date_updated | dateAsAgo }}</ion-note><br />
        <ion-badge color="primary" mode="ios" class="fs-10">2</ion-badge>
      </div>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="chatEvent.emit('favourite')" color="primary" class="fs-14 text-white">Favorite</ion-item-option>
      <ion-item-option (click)="chatEvent.emit('delete')" color="danger" class="fs-14 text-white">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-container>