
<ion-row class="ion-no-margin">
  <ion-col [ngClass]="isRounded ? 'rounded' : ''" [style.background-color]="'var(--ion-color-' + color + ')'">
    <div align="center">
      <ion-text color="light">{{text}}</ion-text>
    </div>
    <ion-buttons #swipeButton>
      <ion-fab-button color="light" [class.hidden]="!isRounded">
        <ion-icon class="left" name="chevron-forward-outline"></ion-icon>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-icon class="right" name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
      <ion-button color="light" [class.hidden]="isRounded">
        <span class="fs-14">Slide</span>
      </ion-button>
    </ion-buttons>
    <!--  -->
  </ion-col>
</ion-row>