
<ion-header class="ion-no-border">
  <ion-toolbar [color]="globals.pageColor">
    <ion-segment value="discover" color="dark" mode="ios" class="filter">
      <ion-segment-button value="discover">
        <ion-label>Focused</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accounts">
        <ion-label>Accounts</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="groups">
        <ion-label>Groups</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <!-- <br />
  <recent-chats [matches]="chats"></recent-chats> -->

  <ion-list >
    <ion-list-header color="white">
      <ion-label>
        <h2>Recent Messages</h2>
      </ion-label>
      <ion-button color="dark">
        <span class="fs-12">See All</span>
      </ion-button>
    </ion-list-header>
    <chat-items (chatEvent)="processChat($event, chat)" [id]="i" [chat]="chat" *ngFor="let chat of chats;let i = index"></chat-items>
  </ion-list>
</ion-content>
