

<div align="center">
  <br />
  <br />
  <img class="animated pulse infinite" loading="lazy" src="assets/svg/ic-congrats.svg" />
  <div class="ion-padding">
    <ion-text><h5>Congratulations</h5></ion-text>
    <h2 color="knight" class="fw-7">You are member now!</h2>
    <p color="knight">Get ready to start using Juta for your daily financial app.</p>
    <br />
    <div class="ion-padding">
      <ion-button expand="block" size="large" class="no-shadow" color="primary">
        <span class="fs-16">I'm ready to start</span>
      </ion-button>
    </div>
  </div>
</div>