
  
:host {
    .splash {
        background: var(--ion-color-white) !important;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-item {
            margin-top: -20px;
        }
        > div {
            border-radius: 7px !important;
            --border-radius: 7px !important;
            height: 80px !important;
            --height: 80px !important;
            width: 130px !important;
            --width: 130px !important;
            img {
                height: 50px !important;
                --height: 50px !important;
                width: 100px !important;
                --width: 100px !important;
            }
        }
        .bottom {
            text-align: center;
            position: fixed;
            bottom: 0px;
        }
        // .logo {
        //     animation: logoAnimation 2s infinite !important;
        // }
    }
}