

<auth-layout [link]="'intro'" [title]="'Sign Up'" [description]="'Simply enter your email address to <br />create an account.'">

  <signup-form (emailEvent)="emailData($event)"></signup-form> 
  
  <div class="hidden-xs">
    <br />
    <ion-button color="dark" routerLink="/verify" routerDirection="forward" size="large" fill="outline" expand="block">
      <span class="fs-16 bold">Create your Account</span>
    </ion-button>
    <br />
    <ion-button routerLink="/signin" routerDirection="forward" expand="block" fill="clear">
      <span class="fs-14 bold text-dark">Already Have an Acconut</span>
    </ion-button>
  </div>

</auth-layout>

<ion-footer class="ion-no-border bottom">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="3" offset-md="8" offset="0" class="ion-margin">
        <ion-button class=" hidden-md" routerLink="/verify" routerDirection="forward" size="large" expand="block">
          <span class="fs-16 bold">Create your Account</span>
        </ion-button>
        <br />
        <p class="fs-12 ion-text-center">By using our mobile app, you agree to our <a href="" color="dimgray">Terms of Use</a> and <a href="" color="dimgray">Privacy Policy</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
