<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-button routerLink="/" slot="start" color="dark" fill="clear" >
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="header">
      <h1>Getting Started</h1>
      <p>Create an account to continue!</p>
    </div>
    <app-signup-form></app-signup-form>
    <p class="quest">
          Don’t have account? <strong (click)="signin()">Sign in</strong> 
    </p>
  </div>
  <!-- Footer container section start -->
  <div class="container">
    <p class="or">or Login with</p>
    <div class="center">
        <button  class="google-btn">
          <img src="assets/icon/google_icon.svg" alt="google icon">
          Signup with Google
        </button>
    </div>
  </div>
   <!-- Footer container section ends -->
</ion-content> 