
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-item mode="ios" detail="false" lines="none">
        <ion-avatar style="margin-left: -10px;margin-right: 10px;" slot="start" class="no-shadow avatar-sm">
          <ion-img [src]="'https://ui-avatars.com/api/?background=f5f6f9&color=000000&bold=false&format=svg&name=Favour Chukwuemeka'" alt="user"></ion-img>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2 class="fs-16">Favour Chukwuemeka</h2>
          <!-- <p class="fs-12">#023456789</p> -->
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <chat-bubble [conversation]="messages"></chat-bubble>
  <div id="targetDiv"></div>
</ion-content>

<ion-footer slot="bottom" class="ion-no-border bg-white">
  <add-chat></add-chat>
</ion-footer>