<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-button routerLink="/onboarding" slot="start" color="dark" fill="clear" >
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="header">
      <h1>Password Recovery </h1>
      <p>Enter your Phone number to recover your password</p>
    </div>
    <!-- Sigin form section start -->
    <div class="form">
      <app-forget-form></app-forget-form>
    </div>
    <!-- Sigin form section ends -->
  </div>
</ion-content> 