.container  {
    padding: 70px 0;
    text-align: center;
}
.header {
    text-align: center;
}
  .header h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #15141F;
  }
  .header p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #A2A0A8;
  }
  .form {
      margin-left: 1rem;
      margin-right: 1rem;
  }
  .footer {
      margin-top: 2rem;
  }