<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-button routerLink="/onboarding" slot="start" color="dark" fill="clear" >
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="header">
      <img src="assets/icon/verify.svg" alt="verify icon">
      <h1>First, let’s verify your identity</h1>
      <p>
        We’re required by law to verify your identity before you can spend with 
        your card or send money. Your information will be encrypted and stored
         securely.
      </p>
    </div>
    <!-- verify button section start-->
    <div class="footer">
        <app-verify-button></app-verify-button>
    </div>
    <!-- verify button section ends -->
  </div>
</ion-content> 