
@font-face {
    font-family: 'Moderat';
    src: url('../assets/fonts/Moderat-Regular.a2f5d8f.ttf') format('truetype');
}

@font-face{
    font-family: "Cerebri Sans Regular";
    src: url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.eot");
    src: url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.svg#Cerebri Sans Regular")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
// @font-face {
//     font-family: 'NotoSans';
//     src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'CerebriSans';
//     src: url('../assets/fonts/CerebriSansPro-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'OpenSans';
//     src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'GoogleSans';
//     src: url('../assets/fonts/google-sans.woff2') format('woff2');
// }
// @font-face {
//     font-family: 'ProductSans';
//     src: url('../assets/fonts/ProductSans-Regular.ttf') format('truetype');
// }
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://cdn.revox.io/kepler-fonts-cdn/inter-ui/Inter-Regular.woff2');
// @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
// https://keplerapis.com/fonts/css?family=Inter+UI:300,400,500,600
// "Inter UI", -apple-sysvtem, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, sans-serif