

@font-face {
    font-family: 'Euclid';
    src: url('../assets/fonts/EuclidCircularB-Regular-WebM.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat';
    src: url('../assets/fonts/Moderat-Regular.a2f5d8f.ttf') format('truetype');
}