
:root.plt-ios {
    --ion-font-family: "Moderat", -apple-sysvtem, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    // // font-weight: 400 !important;
    font-display: swap !important;

    ion-title {
        font-weight:bold !important;
    }

    .tabs-inner {
        margin-top: 44px !important;
        margin-bottom: 44px !important;
        ion-content {
            &.noHeader {
                top: 44px !important;
                position: relative !important;
            }
        }
    }

    ion-list-header {
        ion-label {
            text-transform: capitalize !important;
        }
    }

    ion-card {
        margin-top: 8px !important;
        margin-bottom: 0px !important;
        // box-shadow: none !important;
    }

    ion-footer {
        ion-toolbar, ion-tab-bar {
            margin-bottom: -5px !important;
        }
    }
    // @media(orientation: portrait) {
    //     ion-content {
    //         // padding-top: constant(safe-area-inset-top); //ios 11.2
    //         // padding-top: env(safe-area-inset-top); //ios 11.1
    //         padding-top: 44px !important; //ios 11.2
    //         padding-top: 44px !important; //ios 11.1
    //     }
    // }
}