
:root[mode="md"] {
    --ion-font-family: "Cerebri Sans Regular", "Helvetica Neue", sans-serif !important;
    // --ion-font-family: "Cerebri Sans Regular", -apple-sysvtem, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, sans-serif !important;
    // --ion-font-family: "Cerebri Sans Regular", -apple-sysvtem, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;

    ion-title {
        // font-size: 18px !important;
        font-weight:600 !important;
        .modal-title {
            margin-left: -20px !important;
        }
    }
    // ion-header ion-toolbar, ion-toolbar {
    //     --background: var(--ion-color-white) !important;
    //     background: var(--ion-color-white) !important;
    //     // --color: var(--ion-color-white) !important;
    //     // color: var(--ion-color-white) !important;
    // }zzz
}