<app-onloading *ngIf="doneLoading"></app-onloading>

<ion-app>
  <app-full-loading></app-full-loading>
  
  <ion-split-pane when="md" contentId="main">

    <!--  the side menu  -->
    <ion-menu *ngIf="_globals.sidebar" contentId="main" class="sidebar" side="start" type="overlay">
        <app-sidebar-nav></app-sidebar-nav>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main">
      <app-busy-loading></app-busy-loading>
    </ion-router-outlet>

  </ion-split-pane>
</ion-app>