
<ion-header class="ion-no-border" slot="fixed">
  <ion-toolbar [color]="headerColor">
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-item color="white" detail="false" lines="none">
      <ion-avatar style="margin-left: -10px;margin-right: 10px;" slot="start" class="no-shadow avatar-sm">
        <ion-img [src]="'assets/img/avatars/2.jpg'" alt="user"></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 class="fs-16">Favour Chukwuemeka</h2>
        <p class="fs-12">online</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <app-chat-bubble [conversation]="messages"></app-chat-bubble>
  <div id="targetDiv"></div>
</ion-content>

<ion-footer mode="md" slot="bottom" class="ion-no-border bg-light">
  <app-add-chat [bgColor]="'bg-light'"></app-add-chat>
</ion-footer>