<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-button routerLink="/onboarding" slot="start" color="dark" fill="clear" >
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="header">
      <h1>Hi, Welcome Back! </h1>
      <p>Sign in to your account.</p>
    </div>
    <!-- Sigin form section start -->
    <app-signin-form></app-signin-form>
    <span class="quest">
      Don’t have account? <strong (click)="signup()">Sign Up</strong> 
    </span>
    <!-- Sigin form section ends -->
  </div>
  <!-- Footer container section start -->
  <div class="container">
    <p class="or">or Login with</p>
    <div class="center">
        <button  class="google-btn">
          <img src="assets/icon/google_icon.svg" alt="google icon">
          Login with Google
        </button>
    </div>
  </div>
   <!-- Footer container section ends -->
</ion-content> 