<auth-layout [link]="'intro'" [title]="'Welcome Back'" [description]="'Simply enter your phone number to login or create<br /> an account.'">

  <signin-form></signin-form>
  
  <div class="hidden-xs">
    <ion-button color="dark" fill="outline" routerLink="/verify" routerDirection="forward" size="large" expand="block">
      <span class="fs-16 bold">Access your account</span>
    </ion-button>
    <br />
    <ion-button routerLink="/forgot" routerDirection="forward" expand="block" fill="clear">
      <span class="fs-14 bold text-dark">Lost access? <b>Recover your account</b></span>
    </ion-button>
  </div>
  
</auth-layout>

<ion-footer class="ion-no-border">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="3" offset-md="8" offset="0" class="ion-margin">
        <ion-button class=" hidden-md" routerLink="/verify" routerDirection="forward" size="large" expand="block">
          <span class="fs-16 bold">Continue</span>
        </ion-button>
        <br />
        <p class="fs-12 ion-text-center text-dark">By using our mobile app, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
