<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/intro" routerDirection="forward" color="dark" mode="ios" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item mod="ios" lines="none" details="false">
      <ion-label>
        <h2 class="fs-24 fw-6 text-knight">Hi, Welcome Back!</h2>
        <p class="ion-text-wrap text-muted fs-16">Sign in to your account.</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<signin-form></signin-form>
<ion-item lines="none" details="false" class="ion-no-padding">
  <ion-label color="primary" slot="end"  class="ion-no-padding">Forgot Password?</ion-label>
</ion-item>

<ion-button class="no-shadow ion-margin-top" size="large" expand="full" routerLink="/signin" routerDirection="forward" color="primary" shape="round">
  <span class="fs-16 bold">Login</span>
</ion-button>

  <ion-item lines="none" details="false" class="ion-text-center">
  <ion-label class="ion-no-padding">
    <span class="text-muted">Don’t have account? </span> <span class="text-primary"> Sign Up</span>
  </ion-label>
</ion-item>

</ion-content>
