<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="ion-padding" color="white">
  <onboarding-swiper></onboarding-swiper>
</ion-content>

<ion-footer color="white" class="ion-no-border">
  <div class="ion-padding">
    <ion-button size="large" expand="block" routerLink="/signup" color="primary">
      <span class="fs-16 bold">Get Started</span>
    </ion-button>
    <ion-button size="large" routerLink="/signin" routerDirection="forward" expand="block" fill="clear">
      <span class="fs-14 bold text-dark">I already have an account</span>
    </ion-button>
    <br />
  </div>
</ion-footer>
