
  <ion-item class="text-heading animated fadeIn" lines="none" details="false">
    <ion-label>
      <h2 class="fs-22 fw-6">Choose your role</h2>
      <p class="ion-text-wrap">Simply enter your email address to <br />create an account.</p>
      <br />
    </ion-label>
  </ion-item>

<div align="center" style="margin-top: 7px;">
  <ion-card class="ion-padding ion-text-center no-shadow" style="width: 80%;" (click)="selectedrole()">
    <ion-label class="ion-padding">
      <h1 class="bold">Merchant</h1>
    </ion-label>
    <ion-label>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
      <p class="text-muted">Curabitur arcu erat.</p>
    </ion-label>
    <ion-label class="ion-padding">
      <p class="text-success">Curabitur arcu erat.</p>
    </ion-label>
  </ion-card>

  <ion-card class="ion-padding ion-text-center no-shadow" style="width: 80%;" (click)="selectedrole()">
    <ion-label class="ion-padding">
      <h1 class="bold">Merchant</h1>
    </ion-label>
    <ion-label>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
      <p class="text-muted">Curabitur arcu erat.</p>
    </ion-label>
    <ion-label class="ion-padding">
      <p class="text-success">Curabitur arcu erat.</p>
    </ion-label>
  </ion-card>
</div>