
  <ion-item class="text-heading animated fadeIn" lines="none" details="false">
    <ion-label>
      <h2 class="fs-22 fw-6">Choose your role</h2>
      <p class="ion-text-wrap">Simply enter your email address to <br />create an account.</p>
      <br />
    </ion-label>
  </ion-item>

<div align="center" style="position: relative;">
  <div class="ion-padding ion-text-center no-shadow ion-card"  (click)="selectedrole()">
    <img src="assets/onboarding/designer.png" style="margin-top: -100px;">
    <ion-label class="ion-padding">
      <h2 class="bold fs-20">Merchant</h2>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
    </ion-label>
  </div>

  <div class="ion-padding ion-text-center no-shadow ion-card" (click)="selectedrole()">
    <img src="assets/onboarding/inspiration.png" style="margin-top: -100px;">
    <ion-label class="ion-padding">
      <h2 class="bold fs-20">Merchant</h2>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
    </ion-label>
  </div>
</div>