
<div class="scrollable-chips">
  <ion-chip (click)="chipClickedAction(i, data)" [mode]="mode" [id]="'id_'+i" [ngClass]="(active === i) ? activeColor : defaultColor" [outline]="hasBorder" *ngFor="let data of collections; let i = index">
    <i *ngIf="hasIcon" [ngClass]="data?.icon + ' start'"></i>
    <span *ngIf="hasText && active !== i">{{data?.text || data?.name || data | titlecase | slice:0:abbrev}}</span>
    <span *ngIf="hasText && active === i">{{data?.text || data?.name || data | titlecase }}</span>
    <!-- <i *ngIf="hasClose" (click)="closed.emit(i)" [ngClass]="'bx bx-x end fs-16'"></i> -->
  </ion-chip>
</div>