<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-button routerLink="/onboarding" slot="start" color="dark" fill="clear" >
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="header">
      <h1>OTP Authentication </h1>
      <p>An authentication code has been sent to (+62) 812 345 6XXX</p>
    </div>
    <!-- Sigin form section start -->
    <div class="form">
      <app-otp-form></app-otp-form>
    </div>
    <!-- Sigin form section ends -->
  </div>
</ion-content> 