
ion-toolbar {
  ion-item {
    ion-icon {
      margin-right: 5px !important;
    }
    ion-avatar {
      margin-right: 8px !important;
    }
  }
}
    .chat-container {
        height: calc(100vh - 60px) !important;
        overflow-y: scroll !important;
      
        .chat-body {
          flex-grow: 1;
          overflow-y: auto;
          scroll-behavior: smooth;
      
          ::-webkit-scrollbar {
            width: 0.5em;
          }
          ::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
          }
        }
      
        .chat-footer {
          flex-shrink: 0;
        }
      }
      