<full-modal [open]="isOpen" (closeModal)="globals.closeModal('chatdetailsmodal')" [id]="'chatdetails'" [bodyColor]="'light'" [title]="''" [hasHeader]="false" [footerClass]="''">
  <ion-toolbar mode="ios" class="b-b" slot="fixed">
    <ion-item (click)="globals.closeModal('chatdetailsmodal')" mode="ios" detail="false" lines="none" style="margin-left: -10px;">
      <ion-button color="dark" fill="clear" class="no-shadow" size="small" routerDirection="back" slot="start">
        <i class="fi fi-rr-angle-left fs-18"></i>
        <!-- <ion-icon name="chevron-back-outline" class="fs-25"></ion-icon> -->
      </ion-button>
      <ion-avatar style="margin-left: -20px;margin-right: 0px;" slot="start" class="no-shadow avatar-sm">
        <ion-img [src]="'https://ui-avatars.com/api/?background=f5f6f9&color=000000&bold=false&format=svg&name=Favour Chukwuemeka'" alt="user"></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 class="fs-16">Favour Chukwuemeka</h2>
        <!-- <p class="fs-12">#023456789</p> -->
      </ion-label>
    </ion-item>
  </ion-toolbar>

  <ion-content>
    <div class="chat-body" id="chat">
      <chat-bubble [conversation]="messages"></chat-bubble>
    </div>
  </ion-content>

  <!-- <div class="d-flex flex-column chat-container w-100">
  </div> -->

  <ion-footer modal-footer class="ion-no-border">
    <add-chat></add-chat>
  </ion-footer>
</full-modal>