
<ion-toolbar class="ion-padding">
  <ion-item lines="none" details="false" style="margin-left: -25px">
    <ion-label *ngIf="type == 'pin'">
      <h2 class="fs-20 text-knight">Setup Your Security Pin</h2>
      <p class="text-dark fs-12">Create a <b>4</b> digit passcode to secure your account</p>
    </ion-label>
    <ion-label *ngIf="type == 'change-pin'">
      <h2 class="fs-20 text-knight">Change Your Security Pin</h2>
      <p class="text-dark fs-12">Create a new <b>4</b> digit passcode to secure your account</p>
    </ion-label>
    <ion-label *ngIf="type == 'transaction-pin'">
      <h2 class="text-center ion-text-wrap"><ion-icon name="lock-closed" color="success"></ion-icon>Transaction PIN</h2>
    </ion-label>
  </ion-item>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col class="ion-text-center">
      <ion-button size="small" color="dark" fill="clear" class="inputs">
        <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off-outline'"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button size="small" color="dark" fill="clear" class="inputs">
        <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off-outline'"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button size="small" color="dark" fill="clear" class="inputs">
        <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off-outline'"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button size="small" color="dark" fill="clear" class="inputs">
        <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off-outline'"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button size="small" color="dark" fill="clear" class="inputs">
        <ion-icon [name]="pin.length>4 ? 'radio-button-on' : 'radio-button-off-outline'"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-grid class="ion-text-center">
  <ion-row>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('1')">1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('2')">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('3')">3</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('4')">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('5')">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('6')">6</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('7')">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('8')">8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('9')">9</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('0')">0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" expand="block" size="large" fill="clear" (click)="handleInput('clear')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>