<ion-tabs>

  <ion-tab-bar slot="bottom" color="purple">

    <ion-tab-button tab="home">
      <i class="ri-bank-line ri-xl before"></i>
      <i class="ri-bank-fill ri-xl after"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="market">
      <i class="ri-store-2-line ri-xl before"></i>
      <i class="ri-store-2-line ri-xl after"></i>
      <ion-label>Market</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="order">
      <i class="ri-arrow-left-right-line ri-xl before"></i>
      <i class="ri-arrow-left-right-line ri-xl after"></i>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <i class="ri-settings-4-line ri-xl before"></i>
      <i class="ri-settings-4-fill ri-xl after"></i>
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>