.container { 
    height: 200px;
    position: relative;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .or {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #A2A0A8;
  }
  .quest {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #9CA3AF;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    strong  {
        color:#4263EB;
    }
  }
  .login-btn {
    background: #4263EB !important;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 16px;
    text-align: center;
    color: #FFFFFF;
    height: 56px;
    display: block;
    height: 56px;
    width: 327px;
    margin-bottom: 1rem;
}
ion-item {
    margin-top: 1rem;
    --background: #fff !important;
    ion-input {
        background: #F9F9FA;
        border-radius: 16px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #15141F;
        padding-left: 1.5rem;
    }
}

.header {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    h1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 135%;
        color: #15141F;
    }
    p {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #A2A0A8;
    }
}
.google-btn {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    height: 56px;
    width: 327px;
    color: #15141F;
}