
<!-- <ion-header class="ion-no-border">
  <ion-toolbar [color]="headerColor">
    <ion-segment value="discover" color="dark" mode="ios" class="filter">
      <ion-segment-button value="discover">
        <ion-label>Focused</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accounts">
        <ion-label>Accounts</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<app-mobile-header (onclick)="globals.openModal($event)" [isIos]="globals.platform.is('ios')" [refresh]="globals.pageRefresh" [color]="globals.pageColor" [title]="globals.pageData?.title || 'Home'"></app-mobile-header>

<ion-content color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ globals.pageData?.title || 'Home'  | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-recent-chats [title]="'Recent Chats'" [matches]="chats" [isLoading]="isLoading | async"></app-recent-chats>
  <app-chat-items (selectedChat)="chatInfo = $event" (chatEvent)="onSelectChat($event)" [loadCount]="2" [isLoading]="isLoading | async" [title]="'Favourites'" [chats]="chats | slice:0:2"></app-chat-items>
  <app-chat-items (selectedChat)="chatInfo = $event" (chatEvent)="onSelectChat($event)" [hasMore]="true" [isLoading]="isLoading | async" [title]="'Messages'" [chats]="chats | slice:4:chats.length - 1"></app-chat-items>

</ion-content>
