
  <ion-toolbar color="white" mode="ios">
    <ion-segment color="primary" value="discover" mode="ios">
      <ion-segment-button value="discover">
        <ion-label class="fs-14">Discover</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label class="fs-14">Accounts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="data">
        <ion-label class="fs-14">Groups</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

<ion-content color="white">
  <!-- <ion-list-header>
    <ion-label>
      <h2>Status</h2>
    </ion-label>
  </ion-list-header> -->
  <br />
  <recent-chats [matches]="chats"></recent-chats>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>Recent Messages</h2>
      </ion-label>
      <ion-button color="primary">
        <span>See All</span>
      </ion-button>
    </ion-list-header>
    <chat-items (chatEvent)="processChat($event, chat)" [chat]="chat" *ngFor="let chat of chats"></chat-items>
  </ion-list>
</ion-content>
