/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './theme/components';
@import './theme/theme';
@import './theme/font';
@import './theme/sidebar';
@import './theme/lineicon';

* {
    font-family: 'OpenSans' !important;
}
.btn-otp {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    --background: #4263EB !important;
    --border-radius: 16px !important;
    font-family: 'Manrope' !important;
    font-style: normal !important;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    height: 56px !important;
    display: block !important;
    margin-top: 1rem;
}
