<div class="splash  bg-white" align="center">
  <div align="center">
    <img class="animated pulse infinite" src="assets/icon/logo.png" /><br />
    <ion-progress-bar class="animated fadeIn" color="light" buffer="0.1"></ion-progress-bar>
  </div>
  <br />
  <h3 class="fs-12 bottom animated fadeIn ion-padding ion-margin">
    <p class="fs-12 text-white" align="center">
      Pleasee scroll below to review the key points of our
      <a class="text-white" target="_blank" routerLink="#">Privacy Policy</a> and
      <a class="text-white" target="_blank" routerLink="#">Terms of Services</a>
    </p>
  </h3>
</div>