<div class="splash" align="center">
  <div align="center">
    <img loading="lazy" src="assets/icon/logo.png" /><br />
    <ion-progress-bar class="animated fadeIn" buffer="0.1"></ion-progress-bar>
  </div>
  <br />
  <h3 class="fs-12 bottom animated fadeIn ion-padding ion-margin">
    <p class="fs-12 text-light" align="center">
      Pleasee scroll below to review the key points of our
      <a  target="_blank" routerLink="#">Privacy Policy</a> and
      <a  target="_blank" routerLink="#">Terms of Services</a>
    </p>
  </h3>
</div>