

<app-mobile-header (onclick)="globals.openModal($event)" [isIos]="globals.platform.is('ios')" [refresh]="globals.pageRefresh" [color]="globals.pageColor" [title]="globals.pageData?.title || 'Home'"></app-mobile-header>
<!-- <ion-header class="ion-no-border b-b">
  <ion-toolbar [color]="globals.pageColor" class="header_slider">
    <div class="chips_div">
      <div class="test" [class.active]="val == i" *ngFor="let item of chips; let i = index">
        <ion-label class="chip" [class.active2]="val == i" (click)="val = i">{{item}}</ion-label>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <app-news-card [news]="news"></app-news-card> -->
  
  <!-- <ion-list-header>
    <ion-label>
      <h2 class="fs-14">Trending</h2>
    </ion-label>
    <ion-button momde="ios" class="fs-12">see all</ion-button>
  </ion-list-header>
  <app-news-item *ngFor="let _news of news.concat(news)"></app-news-item> -->
</ion-content>
