
<app-layout (onHeaderButtonClicked)="globals.openModal($event)" [refresh]="globals.pageRefresh" [title]="globals.pageData?.title || 'Home'"></app-layout>

<filter-modal [type]="''" [isOpen]="globals.modalData?.filtermodal?.isOpen || false"></filter-modal>
<onboarding-modal [isOpen]="globals.modalData?.walkthroughmodal?.isOpen || false"></onboarding-modal>
<profile-modal [isOpen]="globals.modalData?.profilemodal?.isOpen || false"></profile-modal>
<language-modal [isOpen]="globals.modalData?.languagemodal?.isOpen || false"></language-modal>
<notification-modal [isOpen]="globals.modalData?.notificationmodal?.isOpen || false"></notification-modal>
<chat-modal [messages]="messages" [isOpen]="globals.modalData?.chatdetailsmodal?.isOpen || false"></chat-modal>
<success-modal [isOpen]="globals.modalData?.successmodal?.isOpen || false" (continue)="onModalClosed($event);globals.closeModal('successmodal')" [data]="globals.modalData || {}" [activeColor]="globals.modalData.color || 'primary'" [class]="'modal-center modal-center-sm modal-w70'"></success-modal> 